:root {
  --primary-color: #F9F9F9;
  --secondary-color: #EDEDED;
  --main-bg: #167E76;
}

@font-face {
  font-family: 'Inter';
  src: url('../assets/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Led-Dot';
  src: url('../assets/LED-Dot-Matrix.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins';
  src: url('../assets/Poppins-Regular.ttf') format('truetype');
}

body {
  background-color: var(--main-bg);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
}