#tradutor {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  box-shadow: 2px 2px 10px #00000046;

  padding: 32px;

  font-family: inter;
}

h1 {
  font-family: Poppins;
  font-size: 24px;
  color: var(--primary-color);
}

.inputContainerAlign {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  gap: 8px;
}

.inputContainer textarea {
  width: 75vw;
  height: 200px; /* Altura aumentada da caixa de texto */
  resize: vertical; /* Permite redimensionamento vertical */

  border-radius: 16px;
  padding: 16px;

}

textarea:focus {
  outline: none;
}

.inputContainer button {
  margin-left: 16px;
  background-color: #1ba097;
  border: 1px solid #16776f;
  border-radius: 8px;

  box-shadow: 2px 2px 10px #00000046;

  color: white;
  padding: 8px;

  cursor: pointer;
}

#result {
  min-width: 100%;
  max-width: 75vw;
  height: 100px; /* Altura aumentada da área de resultado */

  margin-top: 10px;
  padding: 16px;

  border-radius: 16px;
  border: 1px solid #ccc;

  overflow-y: auto; /* Adiciona barra de rolagem vertical quando necessário */

  color: white;
  font-size: 13px;
}